* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #424242;
}
input {
  border: 0;
  outline: none;
  font-size: 16px;
}

span {
  color: #616161;
}

ul li input {
  background-color: transparent;
  color: white;
  width: 100%;
}

ul li::marker {
  color: white;
}
